body {
    background-color: rgb(27, 99, 109);
    border: 10px;
    border-color: bisque;
    border-style: groove;
    text-align: center;
  }

nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 3px;


  }
 
  h1 {
    color: bisque;
    font-family: 'Josefin Sans', sans-serif;

 } 

h2 {
    color: bisque;
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    color: bisque;
    font-family: 'Josefin Sans', sans-serif;
}

h5 {
    color: bisque;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: bold;
}

a {
    text-decoration: underline;
}

img {
    border-style: solid;
    border-color: bisque;
}

ul {
    display: inline-block;
}
