body {
    background-color: rgb(27, 99, 109);
    padding: 220px;
    border: 10px;
    border-color: bisque;
    border-style: groove;
  }

h2 {
    color: bisque;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    color: bisque;
    font-family: 'Josefin Sans', sans-serif;
}

h5 {
    text-decoration: bold;
}
a {
    text-decoration: underline;
}

img {
    border-style: solid;
    border-color: bisque;
    
}
